* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

header {
  max-width: 100%;
  height: 100vh;
  background-color: hsl(217, 28%, 15%);

  display: flex;
  justify-content: space-between;
  background-image: url(./assets/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.img-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.img-header img {
  width: 700px;
  margin-bottom: 25px;
}

.img-header h1 {
  margin-bottom: 30px;
  width: 700px;
  text-align: center;
  font-family: sans-serif;
}

.img-header p {
  width: 550px;
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 10px;
}

.started {
  width: 250px;
  height: 30px;
  font-size: 16px;
  padding: 10px;
  background-image: linear-gradient(
    90deg,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
  border-radius: 50px;
  border: none;
  margin-top: 20px;
  color: white;
}

.started:hover {
  transform: scale(1.08);
  transition: 0.3s;
}

header .logo {
  width: 150px;
  height: 50px;
  margin: 50px;
}

header ul {
  margin-top: 50px;
  margin-right: 50px;
  display: flex;
}

header li {
  margin: 20px;
  list-style-type: none;
  color: white;
}

header nav {
  color: white;
}

main {
  background-color: hsl(218, 28%, 13%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main .informations {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 950px;
  height: 900px;
}

.infoBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  height: 400px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
  color: white;
}

.infoBox img {
  width: 100px;
  text-align: center;
  margin-bottom: 30px;
}

.infoBox h1 {
  margin-bottom: 20px;
  font-family: sans-serif;
  font-size: 18px;
}

.infoBox p {
  font-size: 16px;
  margin-bottom: 30px;
  width: 350px;
}

.box3 {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.box3 .productive {
  width: 900px;
}

.containerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-family: sans-serif;
}

.containerBox .image img {
  width: 650px;
}

.text {
  color: white;
  margin-left: 40px;
  margin-bottom: 20px;
}

.text h1 {
  width: 350px;
  margin-bottom: 20px;
}

.text p {
  width: 500px;
  margin-bottom: 20px;
}

.containerBox a {
  display: flex;
  color: hsl(176, 68%, 64%);
  margin-bottom: 20px;
  text-decoration: underline;
}

.feedback {
  display: flex;
  margin-top: 100px;
  margin-bottom: 500px;
}

.feedback .quotes {
  width: 60px;
  height: 60px;
  position: absolute;
}

.message {
  border-radius: 10px;
  width: 450px;
  margin: 20px;
  background-color: hsl(219, 30%, 18%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 50px;
  position: relative;
  top: 20px;
}

.text-user {
  color: white;
  margin-bottom: 20px;
}

.user img {
  width: 50px;
  border-radius: 50%;
}

.user {
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
}

.data-user {
  margin-left: 20px;
}

.data-user .nameUser {
  color: hsl(0, 0%, 100%);
}

.data-user .description {
  color: rgba(130, 130, 130, 1);
}

footer {
  background-color: hsl(216, 53%, 9%);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer .container {
  width: 800px;
  height: 200px;
  position: relative;
  bottom: 150px;
  border-radius: 20px;
  padding: 20px;

  background-color: hsl(219, 30%, 18%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer .text-box{
    width: 500px;
    color: white;
    margin:auto;
}

.text-box h1{
    margin: 15px;
}

.startedEmail{
    width: 200px;
    height: 30px;
    font-size: 16px;
    padding: 10px;
    background-image: linear-gradient(
      90deg,
      hsl(176, 68%, 64%),
      hsl(198, 60%, 50%)
    );
    border-radius: 50px;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}

input[type="email"]{
    width: 350px;
    height: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
}

.contact{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    flex-direction: row;
    width: 80%;
}

.localization{
    width: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.localization img{
    width: 200px;
}

.localization-text{
    display: flex;
}

.logo{
    width: 100%;
    margin-bottom: 20px;
    display: block;
}

.localization-text img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.contact-number li, a{
    margin: 10px;
    color: white;
}

li, a{
    text-decoration: none;
    list-style-type: none;
}

.teste{
    display: flex;
}

.about ul{
    margin: 50px;
}

.about li, a{
    margin: 10px;
    color: white;
}

.term ul{
    margin: 50px;
}

.about li, a{
    margin: 10px;
    color: white;
}

.social ul{
    margin: 50px;
}

.about li, a{
    margin: 10px;
    color: white;
}

.social{
    width: 20px;
    height: 20px;
}

.about li, a{
    margin: 10px;
    color: white;
}