* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

/* style desktop */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

header {
  max-width: 100%;
  background-color: hsl(217, 28%, 15%);
  font-family: "Raleway", sans-serif;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  background-image: url(./assets/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.LogoNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 50px;
}

header .logo {
  width: 150px;
  height: 50px;
}

header ul {
  display: flex;
}

header li {
  margin: 20px;
  list-style-type: none;
  color: white;
}

.contentHead {
  text-align: center;
  color: white;
}

.contentHead img {
  width: 45vw;
  margin-bottom: 30px;
}

.contentHead h1 {
  margin: auto;
  margin-bottom: 30px;
  width: 700px;
  text-align: center;
}

.contentHead p {
  width: 550px;
  text-align: center;
  margin: auto;
}

.started {
  width: 250px;
  height: 30px;
  font-size: 16px;
  padding: 10px;
  background-image: linear-gradient(
    90deg,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
  border-radius: 50px;
  border: none;
  margin-top: 30px;
  color: white;
  cursor: pointer;
}

.started:hover {
  transform: scale(1.08);
  transition: 0.3s;
}

main {
  background-color: hsl(218, 28%, 13%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main .informations {
  width: 1024px;
  margin-top: 50px;

  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.infoBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  height: 400px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;

  margin: 20px;
}

.infoBox img {
  width: 100px;
  text-align: center;
  margin-bottom: 30px;
}

.infoBox h1 {
  margin-bottom: 20px;
  font-size: 18px;
}

.infoBox p {
  font-size: 14px;
  margin-bottom: 30px;
  width: 400px;
  font-weight: 0;
}

.containerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.containerBox .image img {
  width: 650px;
}

.containerBox a {
  display: flex;
  color: hsl(176, 68%, 64%);
  margin-bottom: 20px;
  text-decoration: underline;
}

.text {
  color: white;
  width: 40%;
  margin-left: 40px;
}

.text h1 {
  width: 40%;
  margin-bottom: 20px;
}

.text p {
  margin-bottom: 20px;
}

.feedback {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}

.feedback .box {
  width: 80%;
  display: flex;
  position: relative;
  align-items: stretch;
  justify-content: center;
}

.feedback .quotes {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 230px;
  transform: translate(-220px, 5px);
  z-index: 99;
}

.message {
  margin: 20px;
  background-color: hsl(219, 30%, 18%);
  padding: 50px;
  border-radius: 10px;
  font-size: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  z-index: 1;
}

.text-user {
  color: white;
  margin-bottom: 20px;
}

.user img {
  width: 50px;
  border-radius: 50%;
}

.user {
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
}

.data-user {
  margin-left: 20px;
}

.data-user .nameUser {
  color: hsl(0, 0%, 100%);
}

.data-user .description {
  color: rgba(130, 130, 130, 1);
}

footer {
  background-color: hsl(216, 53%, 9%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer .container {
  width: 800px;
  height: 200px;
  position: relative;
  bottom: 150px;
  border-radius: 20px;
  padding: 20px;

  background-color: hsl(219, 30%, 18%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer .text-box {
  width: 500px;
  color: white;
  margin: auto;
  margin-bottom: 10px;
}

.text-box h1 {
  margin: 10px;
}

.submit p {
  position: relative;
  right: 140px;
}

.startedEmail {
  width: 200px;
  height: 30px;
  font-size: 16px;
  padding: 10px;
  background-image: linear-gradient(
    90deg,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
  border-radius: 50px;
  border: none;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  cursor: pointer;
}

input[type="email"] {
  width: 350px;
  height: 20px;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
}

.contact {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  flex-direction: row;
  width: 80%;
}

.localization {
  width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
}

.LogoFooter {
  width: 80%;
  margin-left: 150px;
}

.LogoFooter img {
  width: 200px;
  margin-bottom: 50px;
}

.localization-text {
  display: flex;
}

.far {
  color: white;
  margin-right: 20px;
}

.fas {
  color: white;
  margin-right: 20px;
}

.logo {
  width: 100%;
  margin-bottom: 20px;
  display: block;
}

.localization-text img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

footer li {
  margin: 20px;
  list-style-type: none;
}

.social {
  display: flex;
}

.social li {
  width: 20px;
}

.fab {
  color: white;
  width: 10px;
}

/* Media Query */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    width: 100vw;
  }

  .contentHead img {
    width: 45vw;
  }

  main .informations {
    justify-content: center;
    width: 100%;
  }

  .informations .infoBox {
    width: 350px;
    margin: 10px;
  }

  .infoBox p {
    font-size: 12px;
    width: 80%;
  }

  .containerBox .image img {
    width: 400px;
  }

  .containerBox .text {
    width: 30%;
  }

  .feedback {
    width: 100%;
  }

  .feedback .box {
    display: flex;
    position: relative;
  }

  .feedback .quotes {
    position: absolute;
    left: 230px;
    transform: translate(-240px, 5px);
    z-index: 9;
  }

  .feedback .message {
    justify-content: center;
    margin: 10px;
  }

  .message {
    font-size: 12px;
  }

  footer .container {
    width: 80%;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  header {
    width: 100vw;
  }

  header .logo {
    width: 150px;
  }
  .contentHead img {
    width: 45vw;
  }

  .contentHead {
    width: 100%;
    text-align: center;
  }

  .contentHead h1 {
    width: 100%;
  }

  .contentHead p {
    width: 100%;
  }

  main .informations {
    justify-content: center;
    width: 80%;
  }

  .informations .infoBox {
    width: 200px;
    margin: 10px;
  }

  .infoBox p {
    font-size: 12px;
    width: 80%;
  }

  .containerBox {
    width: 100%;
  }

  .containerBox .image img {
    width: 250px;
  }

  .containerBox .text {
    font-size: 10px;
    margin-left: 10px;
    width: 30%;
  }

  .text h1 {
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
  }

  .feedback {
    flex-wrap: wrap;
  }

  .feedback .box{
    flex-direction: column;
  }

  .feedback .quotes{
    position: absolute;
    left: 230px;
    transform: translate(-220px, 5px);
  }

  .feedback .quotes img{
    width: 30px;
    height: 25px;
  }

  .feedback .message {
    padding: 15px;
    justify-content: center;
  }

  .message {
    font-size: 12px;
  }

  footer .contact {
    flex-direction: column;
  }

  footer .container {
    width: 80%;
    height: 300px;
  }

  .box .text-box {
    width: 100%;
  }

  footer .LogoFooter {
    margin: 0;
    margin-left: 50px;
  }

  footer .LogoFooter img {
    margin: 0;
    margin-bottom: 50px;
  }

  footer .social {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  header .contentHead{
    width: 100%;
  }

  header .LogoNav{
    width: 100%;
    margin: 10px 10px;
  }

  .contentHead p{
    width: 100%;
  }

  .contentHead h1{
    width: 100%;
  }
  
  .contentHead img {
    width: 45vw;
  }

  main .informations{
    width: 100%;
  }

  header .logo {
    margin: 0;
    margin-left: 20px;
    width: 50px;
    height: 20px;
  } 

  header .LogoNav{
    margin: 20px;
  }

  .LogoNav nav{
    font-size: 12px;
    margin-right: 20px;
  }

  .LogoNav li{
    margin: 5px;
  }

  .informations .infoBox{
    width: 100%;
  }

  .informations .infoBox p{
    width: 100%;
  }

  .containerBox{
    width: 100%;
    flex-direction: column;
  }

  .containerBox .image img{
    width: 70vw;
  }

  .containerBox .text{
    width: 80%;
  }

  .containerBox .text h1{
    width: 100%;
    font-size: 20px;
  }

  .containerBox .text p{
    font-size: 12px;
  }

  .feedback .box{
    flex-direction: column;
  }

  footer .contact {
    flex-direction: column;
  }

  footer .container {
    width: 80%;
    height: 100%;
  }

  .box .text-box{
    width: 80%;
  }

  footer .LogoFooter {
    margin: 0;
    margin-left: 50px;
  }

  footer .LogoFooter img {
    margin: 0;
    margin-bottom: 50px;
  }

  footer .social {
    width: 100%;
    justify-content: center;
  }

  
  input[type="email"] {
    width: 50%;
  }

  .startedEmail{
    margin: 20px 0;
  }

  .localization{
    width: 100%;
  }
}
